### MAVEN or Gradle###
**/target
**/.gradle/
**/settings.gradle
**/build/
**/out

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### VS Code ###
**/.vscode
**/.suo
**/.ntvs*
**/.njsproj
**/.sln
**/.sw?

### Mac ###
**/.DS_Store